body{
    margin: 0;
    position: relative;
    height: 100vh;
    font-family: Helvetica;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-size: 2vh;
    background-color: #1F1F1F;
}

img{
    pointer-events: none;
}

#game{
    height: 100vh;
    width: 80vw;
}

/* Communtiy cards */

.centerWrapper{ /* Wrapper for placing the communtiy cards in the center*/
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#centerCards{ /* Cards in the middle of the screen */
    width: 100%;
    height: 20%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    user-select: none;
}

.card{
    width: 6vw;
    height: 12vh;
    margin: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card>img{
    max-width: 100%;
    max-height: 100%;
    user-select: none;
}

.cardOutline{ /* eventually for displaying the outline of the card */
    display: none;
}


/* User */


.userWrapper{ /* Wrapper for the user */
    position: absolute;
    z-index: 3;
    height: 30%;
    width: 100%;
    display: flex;
    margin-top: 70vh;
    align-items: center;
    justify-content: center;
}


#user{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
}

#userInfo>div{
    margin-left: 2vw;
    margin-right: 2vw;
}

#userInfo>div>p{
    color:aliceblue;
}

.cardsWrapper{
    display: flex;
    flex-direction: row;
}

.userCards{
    width: 15vw;
    display: flex;
    flex-direction: row;
}


/* Players */

.playerWrapper{ /* Wrapper for the player */
    position: absolute;
    z-index: 3;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

#playerInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#playerInfo>div{
    margin-left: 1vw;
    margin-right: 1vw;
}

#playerInfo>div>p{
    color: aliceblue;
    font-size: min(1vh, 1vw);
}

.playerCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.uiWrapper{ /* Wrapper for the UI. Places all elements on top of the board */
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 80vw;
}

#board{
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 80vw;
    display: flex;
    align-items: center;
    pointer-events: none;
}

#board>img{
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    width: 80vw;
}


/* Chat */

.chat {
    position: absolute;
    top: 0;
    left: 80vw;
    width: 22vw;
    height: 100vh;
    background-color: #494848;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    
    z-index: 4;
}

#typeField {
    margin-top: 20px;
    margin-bottom: 60px;
}

input:focus{
    outline: none;
}

#msgContainer{
    width: 100%;
    margin-top: auto;
    overflow: scroll;
    height: 80vh;   
}

.chatElement{
    margin-top: 0.2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    float: left;
    width: calc(100% - 4vw);
    overflow: hidden;
    font-size: 1vw;
}

.chatName{
    display: inline-block;
    font-weight: bold;
    font-size: 0.9vw;
    margin-top: 1vw; 
}

/* popup to choose name*/

#popup{
    background-color: #fcfcfc;
    z-index: 5;
    border-radius: 2px;
    border: 1px solid black;
    position: fixed;
    display: inline;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 35%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#messageText{
    margin-top: 4vh;
    text-align: center;
    width: 80%;
}

#skrivNavn{
    width: 80%;
    height: 20%;
}

#getName{
    width: 100%;
    height: 100%;
    padding: 1vw;
    box-sizing: border-box;
    margin-top: 4vh;
    border-radius: 0px;
    border: 1px solid black;
}

#err{
    color:red;
}